/*
CSS Print Stylesheet for Blog to Print Project
Author: Carlos
Date: 2024
Description: This stylesheet is designed to optimize the appearance of printed blog posts. It includes styles for layout, typography, and other elements to ensure that the printed version of the blog post is clean and professional.
*/

/* 0. @font-family loader */
@font-face {
  font-family: "Recursive";
  src: local("Recursive Sans Linear Light"),
        url("./font/Recursive.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: oblique -15deg 0deg;
  font-display: swap;
}


/* 1. Root Styles */

:root {
  --font-family: "Recursive", sans-serif;
  --font-family-monospace: "Recursive", monospace monospace;
  /* Typography*/
  --base-font-size: 1.25;
  --base-line-height: 1.5;
  --base-font-weight: 400;
  --h1-size: 3.052;
  --h2-size: 2.441;
  --h3-size: 1.953;
  --h4-size: 1.563;
  --h5-size: 1.25;
  --heading-weight: 700;
  --heading-line-height: 1.3;
  --small-size: 0.8;
}

/* 2. Typography and Font Settings */

html {
  font-size: calc(var(--base-font-size) * 1rem);
}

body {
  font-family: var(--font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
}

/* Prevent Prince from falling back to system serif/monospace fonts. */
body,
body * {
  font-family: var(--font-family) !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1.38rem;
  font-family: var(--font-family);
  font-weight: var(--heading-weight);
  font-style: normal;
  line-height: var(--heading-line-height);
  hyphens: none;
  text-wrap: balance;
}

h1 {
  margin-top: 0;
  font-size: calc(var(--h1-size) * 1rem);
  /* sets this as the title for page headers */
  string-set: title contents;
  /* This enables :first, see below  */
  prince-page-group: start;
  break-before: page;
}

h2 { font-size: calc(var(--h2-size) * 1rem); }

h3 { font-size: calc(var(--h3-size) * 1rem); }

h4 { font-size: calc(var(--h4-size) * 1rem); }

h5 { font-size: calc(var(--h5-size) * 1rem); }

h6 { text-transform: uppercase; }

small, .text_small { font-size: calc(var(--small-size) * 1rem); }

/* 3. Page Layout and Structure */
@page {
  size: 8.5in 11in;
  margin: 0.5in 1in;
  /* Footnote related attributes */
  counter-reset: footnote;
  @footnote {
    counter-increment: footnote;
    float: bottom;
    column-span: all;
    height: auto;
  }
}

@page {
  @top-right {
    content: string(title);
    font-style: italic;
    vertical-align: bottom;
    padding-bottom: 0.3em;
    border-bottom: thin solid black;
    margin-bottom: 0.7em;
  }
}

@page {
  @bottom-center {
    content: counter(page);
    font-style: italic;
    vertical-align: top;
    padding-top: 0.3em;
    border-top: thin solid black;
    margin-top: 0.7em;
  }
}

/* don't add header on the first page */
@page :first { @top-right { content: none }}

body[data-type="article"] {
  hyphens: auto;
  counter-reset: page 1;
}

section[data-type="titlepage"] {
  page: titlepage;
}

/* 4. Styling for Specific Elements */
/* One possible way to style figures,  figure caption and figure images */
figure {
  border: 1px solid #000;
  /* Prevents the thumbnail and caption from splitting across pages */
  break-inside: avoid;
}

figure img {
  max-width: 100%;
}

figure caption {
  margin-top: 1em;
  color: #333;
  font-size: 0.8em;
}

code,
pre,
pre code,
kbd,
samp {
  font-family: var(--font-family-monospace) !important;
  font-style: normal;
  font-weight: 500;
}

/* Widows and orphans */
p {
  orphans:4; /* min number of lines of a paragraph left at bottom of a page */
  widows:2; /* min number of lines of a paragraph that left at top of a page.*/
}

/* 5. Footnotes */
span.footnote {
  float: footnote;
}

::footnote-marker {
  content: counter(footnote);
  list-style-position: inside;
}

::footnote-marker::after {
  content: '. ';
}

::footnote-call {
  content: counter(footnote);
  vertical-align: super;
  font-size: 65%;
}

/* Cross References */
a.xref[href]::after {
    content: " [See page " target-counter(attr(href), page) "]"
}

/* 6. PDF Bookmarks */

h1 {
  prince-bookmark-level: 1;
  prince-bookmark-state: closed;
  prince-bookmark-label: content();
}

h2 {
  prince-bookmark-level: 2;
  prince-bookmark-state: closed;
  prince-bookmark-label: content();
}

h3 {
  prince-bookmark-level: 3;
  prince-bookmark-state: closed;
  prince-bookmark-label: content();
}

h4 {
  prince-bookmark-level: 4;
}

h5 {
  prince-bookmark-level: 5;
}

h6 {
  prince-bookmark-level: 6;
}
