/* Imports */
@import "_colors.css";

/* Font Imports */
@font-face {
  font-family: 'Recursive';
  src: url('/fonts/Recursive.woff2')
		format('woff2')
		tech(variations);
		display: swap;
		font-weight: 300 1000;
    unicode-range: U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2007-200B, U+2010, U+2012-2015,
        U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033,
        U+2039-203A, U+203E, U+2044, U+2052, U+2074, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215;
}

/* Defaults */
:root {
	--font-family: Recursive, Verdana, sans-serif;
	--font-family-system: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Recursive, Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: var(--oklch-color-cloud);
	--color-gray-50: var(--oklch-color-lead);
	--color-gray-90: var(--oklch-color-pebble);

	--background-color: var(--oklch-color-white);

	--text-color: var(--oklch-color-charcoal);
	--text-color-link: oklch(55.69% 0.2 12.21);
	--text-color-link-active: oklch(55.69% 0.2 12.21);
	/* --text-color-link-active: oklch(37.01% 0.085 347.43); */
	--text-color-link-visited: var(--text-color);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: oklch(90.67% 0 0);
		--color-gray-50: oklch(80.78% 0 0);
		--color-gray-90: oklch(88.38% 0.002 17.2);

		/* --text-color is assigned to --color-gray-_ above */

		--text-color: rgb(255, 255, 255);
    --text-color-link: oklch(65.47% 0.183 250.8);
		--text-color-link-active: oklch(59.91% 0.207 278.14);
		--text-color-link-visited: oklch(75.68% 0.117 283.25);

		--background-color: oklch(23.85% 0.026 248.99);
	}

  article {
    color: var(--text-color);
  }

}

/* Set the grid container dimensions */
.grid-container {
	display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
  gap: 1rem;
}

/* Grid */
header {
	grid-column: 3/7;
}

main {
	grid-column: 3/7;
}

footer {
	grid-column: 3/7;
}

/* Continue Reading */
.continue-reading {
	display: flex;
	justify-content: flex-end;

}

.continue-reading a {
  padding: 1em;
  font-size: 90%;
  text-decoration: none;
}

.continue-reading a:focus,
.continue-reading a:hover {
	/* Figure out why I had to add !important here */
  color: white !important;
  background-color: var(--text-color-link);
}

/* figures and images */
img {
	width: 600px !important;
	height: auto;
}

article {
	counter-reset: figures;
}

figure {
	counter-increment: figures;
}

figure > figcaption::before {
	margin-block-start: 0.5em;
	content: "Figure " counter(figures) ": "
}

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	/* margin: 0 auto; */
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
	font-variation-settings: "MONO" 1, "CASL" 0, "wght" 500, "slnt" 0,
	"CRSV" 0.501;

}
pre:not([class*="language-"]) {
	"CRSV" 0.501;
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
/* .postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
} */
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	/* counter-increment: start-from -1; */
	margin-bottom: 1em;
}
/* .postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
} */
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
