<footer class="footer">

	<section class="left">
		<h4>Social Me</h4>
		{%- include "_social.njk" -%}
	</section>

	<section class="right">
		<h4>About me</h4>
		{{ nav.render(nav_links, "footer") }}
	</section>

</footer>
