		<p><strong>Latest Posts</strong></p>
		<ul>
			{% set posts = collections.posts | reverse | head(5) %}
			{% for post in posts %}
				<li><a href="{{ post.url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						<code>{{ post.url }}</code>
					{% endif %}
				</a></li>
			{% endfor %}
		</ul>
