<nav class="nav-top-menu-container">
	<h2 class="visually-hidden">Top level navigation menu</h2>

	<ul class="nav-top-menu">
		<li><a class="nav-item" href="/">Home</a></li>
		<li><a class="nav-item" href="/about/">About</a></li>
		<li><a class="nav-item" href="/my-markdown-cheatsheet/">Cheatsheet</a></li>
		<li><a class="nav-item" href="https://projects.rivendellweb.net/">Projects</a></li>
	</ul>
</nav>
