<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta
    name="description" content="{{ description or metadata.description }}"> {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}

    {#- Learn more about bundles: https://github.com/11ty/eleventy-plugin-bundle #}
		<link rel="stylesheet" href="/css/index.css" />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"> </script>
	</head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    <div class="grid-container">
			<img class="full-bleed-header" decoding="async" src="/images/cropped-Long_Room_Interior_Trinity_College_Dublin_Ireland.webp" alt="" />
      <header>
        <h1>
          <a href="/" class="home-link">{{ metadata.title }}</a>
        </h1>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      </header>
			{% include "nav_menu.njk" %}
      <main id="skip">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
    <!-- added for Netlify CMS -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
