<!doctype html>
<html lang="{{ language or metadata.language }}">
  <head>
		{%- metagen
			comments=true,
			title=title or metadata.title,
			desc=desc or metadata.desc,
			url=url,
			img="/images/Thumbnail_Trinity_College_Dublin_Ireland.webp",
			img_alt="Trinity College Library, Dublin",
			twitter_card_type=summary,
			twitter_handle=elrond25
		-%}
    <title>{{ title or metadata.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		{%- if data.content -%}
    <meta name="description" content="{{ desc or metadata.desc}}}">
		{%- else -%}
		<meta name="description" content="Placeholder text. Can't generate excerpt">
    {%- endif -%}
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{url or metadata.url}}">
    <meta property="og:site_name" content="{{ title or metadata.title }}">
    <meta property="og:locale" content="{{ language or metadata.language}}">
    <meta property="og:image" content="https://publishing-project.rivendellweb.net/images/Thumbnail_Trinity_College_Dublin_Ireland.webp">
    <meta property="og:image:alt" content="Trinity College Library, Dublin">
		{%- if content -%}
		<meta property="og:description" content="{{ desc or metadata.desc}}}">
    {%- else -%}
		<meta name="description" content="Placeholder text. Can't generate excerpt">
    {%- endif -%}
		<!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ metadata.author.twitter_handle}}">
    <meta name="twitter:creator" content="{{ metadata.author.twitter_handle}}">
    <meta name="twitter:url" content="https://publishing-project.rivendellweb.net/syndicating-content-to-x/">
    <meta name="twitter:image" content="https://publishing-project.rivendellweb.net/images/Thumbnail_Trinity_College_Dublin_Ireland.webp">
    <meta name="twitter:image:alt" content="Trinity College Library, Dublin">
		{%- if page.templateContent -%}
		<meta name="twitter:description" content="{{ page.templateContent | excerpt }}">
    {%- else -%}
		<meta name="description" content="Placeholder text. Can't generate excerpt">
    {%- endif -%}
    <!-- Theme Colors -->
		<meta name="theme-color" content="#1e456e"/>
    <!-- Feeds -->
		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    <!-- Apple touch icon -->
		<link rel="apple-touch-icon" href="/images/icon-192x192.png"/>
    <!-- Manifest -->
		<link rel="manifest" href="/manifest.json"> {#- Learn more about bundles: https://github.com/11ty/eleventy-plugin-bundle #}
    <!-- Added for Netlify -->
    <link rel="preload" href="/css/algoliasearchNetlify.css" as="style" />
		<link rel="stylesheet" href="/css/algoliasearchNetlify.css" />
    <!-- Load main stylesheet -->
		<link
    rel="preload" href="/css/index.css" as="style"/>
		<link rel="stylesheet" href="/css/index.css" />
    {# Only load Prism if configured to do so #}
		{% if prism %}
			<script defer src="/js/prism/components/prism-core.js"></script>
			<script defer src="/js/prism/plugins/autoloader/prism-autoloader.js"></script>
			<link rel="preload" href="/css/prism.css" as="style"/>
    	<link rel="stylesheet" href="/css/prism.css" />
		{% endif %}
    {# Only load Mavo if instructed to do so in the post's front matter #}
    {% if mavo %}
      <link rel="stylesheet" href="https://get.mavo.io/mavo.css"/>
      <script defer src="https://get.mavo.io/mavo.js"></script>
    {% endif %}
    {# Only load lite-vimeo if instructed to do so in the post's front matter #}
    {% if vimeo %}
      <script type="module" src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"></script>
    {% endif %}
    {# Only load lite-youtube if instructed to do so in the post's front matter #}
    {% if youtube %}
      <link rel="stylesheet" href="/css/lite-yt-embed.css"/>
      <script defer src="/js/lite-yt-embed.js"></script>
    {% endif %}
    {# Only load mermaid if instructed to do so in the post's front matter #}
    {% if mermaid %}
      {% mermaid_js %}
    {% endif %}
		{# Only load color.js if we enable it in the post frontmatter #}
		{% if colorjs %}
			<script src="https://elements.colorjs.io/index.js" type="module"></script>
		{% endif %}
		{# only load baseline component if enabled in post #}
		{% if baseline %}
			<script src="https://cdn.jsdelivr.net/npm/baseline-status@1/baseline-status.min.js" type="module"></script>
		{% endif %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-TN8FNQGPZX"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-TN8FNQGPZX');
		</script>
  </head>
  <body>
    {% import "_nav.njk" as nav with context %}
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    <div class="grid-container">
      <img
        class="full-bleed-header"
        fetchpriority="high"
        decoding="async"
        src="/images/cropped-Long_Room_Interior_Trinity_College_Dublin_Ireland.webp"
        alt="Dublin Library"
        width="1564"
        height="389"/>
      <header>
        <h1>
          <a href="/" class="home-link">{{ site_name or metadata.site_name }}</a>
        </h1>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      </header>
      <nav id="nav-top-menu-container" class="nav-container">
        <ul class="nav-top-menu">
          {{ nav.render(nav_links, "nav-top-menu-container") }}
        </ul>
      </nav>
      <main id="skip">
        {{ content | safe }}
      </main>
      <footer>
        <div class="left-footer">
          <section class="social">
            <h4>Social Me</h4>
            {%- include "_social.njk" -%}
          </section>

          <section classs="latest">
            <h4>Latest Posts</h4>
            {%- include "_latest.njk" -%}
          </section>
        </div>

        <div class="right-footer">
          <h4>Search</h4>
            <div id="search"></div>

          <nav id="nav">
            <h4>Links</h4>
            <div class="nav-container">
              <ul class="nav-footer-menu">
                {{ nav.render(nav_links, "footer") }}
              </ul>
            </div>
          </nav>
        </div>
      </footer>
    </div>
    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
    <!-- Configure and load Service Worker -->
		<script type="module">
      // Test if service workers are supported
      if ('serviceWorker' in navigator) { // Attempt to register it
        navigator
          .serviceWorker
          .register('/sw.js')
          .then(function () { // Success Message
            console.log('ServiceWorker succesfully registered');
          })
          .catch(function (err) { // Error Message
            console.log('ServiceWorker registration failed: ', err);
          });
      }
    </script>

    {# <!-- added for Algolia -->
    <script defer src="/js/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
    algoliasearchNetlify({
      appId: '533NB4QJXX',
      apiKey: '0cd62f229744d35fb517b13466758622',
      siteId: '26351df2-c0d4-4526-950c-3866501cb99d',
      branch: 'main',
      selector: 'div#search',
    });
    </script> #}
		<!-- Web Vitals Library -->
		<script src="/js/web-vitals.js"></script>
		<!-- Web Vitals Reporting -->
		<script>
			import { onCLS, onINP, onLCP } from 'web-vitals';
			const sendToAnalytics = ({ name, delta, id }) => {
				const roundedValue = Math.round(name === 'CLS' ? delta * 1000 : delta);

				window.gtag('event', 'web_vitals', {
					event_category: 'Web Vitals',
					event_label: id,
					value: roundedValue,
					metric_name: name,
					non_interaction: true,
				});
			};

			// Register the web-vital metric listeners.
			onCLS(sendToAnalytics);
			onINP(sendToAnalytics);
			onLCP(sendToAnalytics);
		</script>
  </body>
</html>
