---
layout: layouts/base.njk
---
  <article>
    <h1>{{ title }}</h1>
    <ul class="post-metadata">
			<li><time class="iconfont published" datetime="{{ page.date | readableDate }}">{{ page.date | readableDate }}</time></li>

			{% set date_updated = page.data.date_updated if page.data else date_updated %}
			{% if date_updated -%}
			<li><time class="iconfont last-updated" datetime="{{ date_updated | readableDate }}">{{ page.date_updated | readableDate }}</time></li>
			{%- endif %}
      <li><span class="iconfont readingtime"></span>{{ content | emojiReadTime }}</li>
		</ul>
    <p>&nbsp;</p>

		{# Conditionally load the table of content if there are headers to render #}
		{#
			Removed the title paragraph because that is now handled
			in the details element in the toc plugin
		#}
    {% if content | toc %}
      <aside>
        {{ content | toc | safe }}
      </aside>
    {% endif %} {# end if content | toc #}

    {{ content | safe }}

		{# category/tags for the post #}
		<ul class="post-metadata post-tags"><span class="iconfont tags"></span>
      {%- for tag in tags | filterTagList %}
        {%- if tags.length >= 1 %} {# does this mean if tags not empty? #}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<li>
						<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
						{%- if not loop.last %},{% endif %}
					</li>
				{%- endif %} {# closes if tags #}
      {%- endfor %}
    </ul>

		<p class="edit-on-github-wrap">{% gh_edit page %}</p>

    {%- if collections.posts %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem %}
      {%- set nextPost = collections.posts | getNextCollectionItem %}
      {%- if nextPost or previousPost %}
			{# next posts is the newer one, previous is older #}
 			<div class="prev-next">
				{%- if previousPost%}
					<a rel="prev" class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
				{%- endif -%}
				{%- if nextPost %}
					<a rel="prev" class="prev" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
				{%- endif %}
			</div>
      {%- endif %}
    {%- endif %}
  </article>
