---
layout: layouts/base.njk
---

  <article>
    <h1>{{ title }}</h1>
    <ul class="post-metadata">
      <li>
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      </li>
      <li>{{ content | emojiReadTime }}</li>
      {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li>
          <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
          {%- if not loop.last %},
          {% endif %}
        </li>
      {%- endfor %}
    </ul>
    <p>&nbsp;</p>
    {# Conditionally load the table of content if there are headers to render #}
    {% if content | toc %}
      <aside>
        <p>
          <strong>Table of Content</strong>
        </p>
        {{ content | toc | safe }}
      </aside>
    {% endif %}
    {{ content | safe }}
    {%- if collections.posts %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem %}
      {%- set nextPost = collections.posts | getNextCollectionItem %}
      {%- if nextPost or previousPost %}
        <nav class="navigation post-navigation" aria-label="Posts">
          <h2 class="visually-hidden">Post navigation</h2>
          <div class="nav-links">
            {%- if previousPost %}
              <div class="nav-previous">
                <a rel="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
              </div>
            {% endif %}
            {%- if nextPost %}
              <div class="nav-next">
                <a rel="prev" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
              </div>
            {% endif %}
          </div>
        </nav>
      {%- endif %}
    {%- endif %}
  </article>
