<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta
    name="description" content="{{ description or metadata.description }}"> {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    <link
    rel="manifest" href="/manifest.json"> {#- Learn more about bundles: https://github.com/11ty/eleventy-plugin-bundle #}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"/>
    <script defer src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    <div class="grid-container">
      <img
        class="full-bleed-header"
        fetchpriority="high"
        decoding="async"
        src="/images/cropped-Long_Room_Interior_Trinity_College_Dublin_Ireland.webp"
        alt=""/>
      <header>
        <h1>
          <a href="/" class="home-link">{{ metadata.title }}</a>
        </h1>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      </header>
    </div>

		<div id="search"></div>

    <!-- added for Algolia -->
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: 'PG840UKK8Q',
        apiKey: '<YOUR_ALGOLIA_SEARCH_API_KEY>',
        siteId: '26351df2-c0d4-4526-950c-3866501cb99d',
        branch: 'main',
        selector: 'div#search'
      });
    </script>
    <!-- added for Netlify CMS -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
