---
layout: layouts/base.njk
---
		<div id="search"></div>

<!-- added for Algolia -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
algoliasearchNetlify({
	appId: '533NB4QJXX',
	apiKey: '0cd62f229744d35fb517b13466758622',
	siteId: '26351df2-c0d4-4526-950c-3866501cb99d',
	branch: 'main',
	selector: 'div#search',
});
</script>
